:host {
  display: block;
  background: #539e98;
  color: white;
  min-height: 100vh;
}


.logo {
  height: 40px;
}

.toolbar-center a {
  color: #fff;
  font-weight: 500;
  margin: 0 0.5rem;
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.ml-2 {
  margin-left: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 10%;
}

.hero-text {
  flex: 1 1 45%;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem 0;
  line-height: 1.3;
}

.highlight {
  color: #64b5f6;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hero-image {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
}

.mockup {
  width: 100%;
  max-width: 500px;
  background: #b39b9b;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(100, 181, 246, 0.3);
  padding: 1rem;
}

.mockup img {
  width: 100%;
  border-radius: 1rem;
}
